.card{
    width: 32%;
    float: left;
    margin: 5px;

}
section,textarea{
    padding-bottom: 4rem;
    padding-top: 4rem;
}
input{
    margin-bottom: 1rem;
}
#logo{
    border:none;
    
}
header{
    background-color:#2B0916;
    
}
#carrocel{
    background-color:black;
}
#Sobre{
    background-color:black;
}
#produtos{
    background-color:black
}
#img-sobre{
    border-radius: 10px;
}
.conteiner{
padding: 70px 0;
}
.row{
    margin: 0;
}
p,li{
    font-size: 18px;
    
}
#p{
    color: white;
}
body{
    font-family: sans-serif;
}
.nav-link{
    color: #FFE600;
}
.nav-link:hover{
    color: blanchedalmond;
}

#SO {
    margin-bottom: 10px;
    background-color: #2B0916;
}
h1, h2{
    color: white;
}
#cadastro{
    background-color:black;
}
label{
    color:white;
}