card{
    width: 32%;
    float: left;
    margin: 5px;

}
section,textarea{
    padding-bottom: 4rem;
    padding-top: 4rem;
}
input{
    margin-bottom: 1rem;
}
#logo{
    width: 200px;
    border-radius: 80px;
    padding: 10px;
}
header{
    background-color: #456B42;
    
}
#Sobre{
    background-color: #FFE600;
}
#produtos{
    background-color: #456B42;
}
#img-sobre{
    border-radius: 10px;
}
.conteiner{
padding: 70px 0;
}
.row{
    margin: 0;
}
p,li{
    font-size: 18px;
    
}
body{
    font-family: sans-serif;
}
.nav-link{
    color: #FFE600;
}
.nav-link:hover{
    color: blanchedalmond;
}
#header{
    padding-top: 0;
    padding-bottom: 0;
}
#SO {
    margin-bottom: 10px;
    
}
textarea.form-control{
    width: 100%;
    display: block;
}